# idea
.idea
*.iml

# java
*.class
classes
generated-sources
generated-test-sources

# maven
maven-archiver
maven-status
target

# azir
conf/application.yaml

# 前端
node_modules
dist

# gradle
build
.gradle
azir-api/bin
azir-common/bin
azir-dao/bin
